@model Capstone4.Models.ManualValidateViewModel

@{
    ViewBag.Title = "ManualValidate";
}

<h2>Manual Validate</h2>

<div>
    <strong>Toggle column: </strong><a class="toggle-vis" data-column="0">Username</a> - <a class="toggle-vis" data-column="1">Email</a> - <a class="toggle-vis" data-column="2">Street</a> - <a class="toggle-vis" data-column="3">City</a> - <a class="toggle-vis" data-column="4">State</a> - <a class="toggle-vis" data-column="5">Zip</a> - <a class="toggle-vis" data-column="6">Vacant</a> - <a class="toggle-vis" data-column="7">Validated</a> - <a class="toggle-vis" data-column="8">Inactive</a> - <a class="toggle-vis" data-column="9">Type</a>
</div>
<br />
<div><button id="cutSelectedButton">Cut selected row</button><button id="cropSelectedButton">Crop selected row</button><button id="refresh">Refresh</button></div>
<br />
<table class="table" id="homeTable" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Screen_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.validated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model.Homeowners)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.ApplicationUser.Email
                </td>
                <td>
                    @item.Address.Street
                </td>
                <td>
                    @item.Address.City
                </td>
                <td>
                    @item.Address.State
                </td>
                <td>
                    @item.Address.Zip
                </td>
                <td>
                    @item.Address.vacant
                </td>
                <td>
                    @item.Address.validated
                </td>
                <td>
                    @item.Inactive
                </td>
                <td>
                    Homeowner
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Homeowners", new { id = item.ID }, null) |
                    @Html.ActionLink("Details", "Details", "Homeowners", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Homeowners", new { id = item.ID }, null)
                </td>
            </tr>
        }
        @foreach (var item in Model.Contractors)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.ApplicationUser.Email
                </td>
                <td>
                    @item.Address.Street
                </td>
                <td>
                    @item.Address.City
                </td>
                <td>
                    @item.Address.State
                </td>
                <td>
                    @item.Address.Zip
                </td>
                <td>
                    @item.Address.vacant
                </td>
                <td>
                    @item.Address.validated
                </td>
                <td>
                    @item.Inactive
                </td>
                <td>
                    Contractor
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Contractors", new { id = item.ID }, null) |
                    @Html.ActionLink("Details", "Details", "Contractors", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Contractors", new { id = item.ID }, null)
                </td>
            </tr>
        }
        @foreach (var item in Model.ServiceRequests)
        {
            <tr>
                <td>
                    @item.Homeowner.Username
                </td>
                <td>
                    @item.Homeowner.ApplicationUser.Email
                </td>
                <td>
                    @item.Address.Street
                </td>
                <td>
                    @item.Address.City
                </td>
                <td>
                    @item.Address.State
                </td>
                <td>
                    @item.Address.Zip
                </td>
                <td>
                    @item.Address.vacant
                </td>
                <td>
                    @item.Address.validated
                </td>
                <td>
                    @item.Inactive
                </td>
                <td>
                    Service Request
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "ServiceRequests", new { id = item.ID }, null) |
                    @Html.ActionLink("Details", "Details", "ServiceRequests", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "ServiceRequests", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/DataTables.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/Content/ResponsiveDatatables.css" media="all" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/DataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/ResponiveDataTables.js" type="text/javascript"></script>

    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            "columnDefs": [
                { "orderable": false, "targets": 10 }
            ]
        });

        $(function () {
            var isMouseDown = false,
              isSelected;
            $("#homeTable tr")
              .mousedown(function () {
                  isMouseDown = true;
                  $(this).toggleClass("selected");
                  isSelected = $(this).hasClass("selected");
                  return false; // prevent text selection
              })
              .mouseover(function () {
                  if (isMouseDown) {
                      $(this).toggleClass("selected", isSelected);
                  }
              })
              .bind("selectstart", function () {
                  return false;
              })

            $(document)
              .mouseup(function () {
                  isMouseDown = false;
              });
        });

        $(document).ready(function () {
            var table = $('#homeTable').DataTable({
                scrollY: "500px",
                //scrollX: true,
                responsive: true,
                scrollCollapse: true,
                paging: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]


            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });
            $('#cutSelectedButton').click(function () {
                table.rows('.selected').remove().draw();
            });
            $('#cropSelectedButton').click(function () {
                table.$('tr').toggleClass('selected');
                table.rows('.selected').remove().draw();
            });

            $('#refresh').click(function () {
                location.reload();
            });

        });
    </script>

}
