@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "Confirm Completion";
}

<h2>ConfirmCompletion</h2>
@using (Html.BeginForm("ConfirmCompletion", "ServiceRequests", Model.ID))
{
<div>
    <h4>ServiceRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ID)
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompletionDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDeadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_Number)
        </dd>


    </dl>
    <strong>Service Request Photos:</strong>
    <br> <br>

    <div class="photocontainer">
        @foreach (var item in Model.ServiceRequestFilePaths)
        {


            <img class="img" data-url="~/images/@item.FileName" src="~/images/@item.FileName" alt="Service Request Photo" width="200" height="133" />


        }

        <div>
            <strong>Contractor Photos:</strong>
            <br> <br>

            @foreach (var item in Model.CompletedServiceRequestFilePaths)
            {


                <img class="img" data-url="~/images/@item.FileName" src="~/images/@item.FileName" alt="Contractor Photo" width="200" height="133" />


            }
        </div>
    </div>
    <br> <br />


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm Completion" class="btn btn-default" />
        </div>
    </div>
</div>
}

@using (Html.BeginForm("AddContractorPhotosView", "ServiceRequests", Model.ID))
{
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Post Photos" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquerypic.js" type="text/javascript"></script>

    <script>

    $(".photocontainer").imageBox();

    </script>

}