@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>ServiceRequest</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Homeowner.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homeowner.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Homeowner.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homeowner.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.vacant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.vacant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.validated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactive)
        </dd>

    </dl>

    <strong>Service Request Photos:</strong>
    <br> <br>
    <div class="photocontainer">
        @foreach (var item in Model.ServiceRequestFilePaths)
        {


            <img class="img" data-url="~/images/@item.FileName" src="~/images/@item.FileName" alt="Service Request Photo" width="200" height="133" />


        }
        
        <div>
        <strong>Contractor Photos:</strong>
        <br> <br>

        @foreach (var item in Model.CompletedServiceRequestFilePaths)
        {


            <img class="img" data-url="~/images/@item.FileName" src="~/images/@item.FileName" alt="Contractor Photo" width="200" height="133" />


        }
        </div>
    </div>

    <br> <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/jquerypic.js" type="text/javascript"></script>

    <script>
        var service_pics = [];
        var contractor_pics = [];
        $('.img').each(function (index, value) {
            var _pair = { source: $(this).attr('src'), title: $(this).attr('alt') };
            if ($(this).attr('alt') == "Service Request Photo") {
                service_pics.push(_pair);
                _pair.position = service_pics.indexOf(_pair);
            };
            if ($(this).attr('alt') == "Contractor Photo") {
                contractor_pics.push(_pair);
                _pair.position = contractor_pics.indexOf(_pair);
            };
            
        });
        $('.img').each(function (index, value) {
            if ($(this).attr('alt') == "Service Request Photo") {
                for (i = 0; i < service_pics.length; i++) {
                    if (service_pics[i].source == $(this).attr('src')) {

                        $(this).attr("alt", "Service Request Photo" + " " + (service_pics[i].position + 1) + "/" + service_pics.length);

                    }

                };
            }
            if ($(this).attr('alt') == "Contractor Photo") {
                for (i = 0; i < contractor_pics.length; i++) {
                    if (contractor_pics[i].source == $(this).attr('src')) {

                        $(this).attr("alt", "Contractor Photo" + " " + (contractor_pics[i].position + 1) + "/" + contractor_pics.length);

                    }

                };
            }
        });
    </script>
<script>

    $(".photocontainer").imageBox();

 </script>

}

