@model IEnumerable<Capstone4.Models.ServiceRequest>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    <strong>Toggle column: </strong><a class="toggle-vis" data-column="0">Homeowner Username</a> - <a class="toggle-vis" data-column="1">Email</a> - <a class="toggle-vis" data-column="2">Street</a> - <a class="toggle-vis" data-column="3">City</a> - <a class="toggle-vis" data-column="4">State</a> - <a class="toggle-vis" data-column="5">Zip</a> - <a class="toggle-vis" data-column="6">Description</a> - <a class="toggle-vis" data-column="7">Price</a> - <a class="toggle-vis" data-column="8">Posted Date</a> - <a class="toggle-vis" data-column="9">Completion Deadline</a> - <a class="toggle-vis" data-column="10">Service Number</a> - <a class="toggle-vis" data-column="11">Expired</a> - <a class="toggle-vis" data-column="12">Contractor Username</a> - <a class="toggle-vis" data-column="13">Vacant</a> - <a class="toggle-vis" data-column="14">Validated</a> - <a class="toggle-vis" data-column="15">Inactive</a> - <a class="toggle-vis" data-column="16">Remove</a>
</div>
<br />
<div><button id="cutSelectedButton">Cut selected row</button><button id="cropSelectedButton">Crop selected row</button><button id="refresh">Refresh</button></div>
<br />
<table class="table" id="homeTable" >
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Homeowner.Username)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Homeowner.ApplicationUser.Email)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Address.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.Username)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Address.vacant)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Address.validated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inactive)
        </th>  
        <th>Remove</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Homeowner.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Homeowner.ApplicationUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expired)
            <div style="display: none;">@item.Expired</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.vacant)
            <div style="display: none;">@item.Address.vacant</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.validated)
            <div style="display: none;">@item.Address.validated</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inactive)
            <div style="display: none;">@item.Inactive</div>
        </td>
        <td><button id="but1" type="button" class="btn btn-info btn-sm removeRow">Remove this row</button></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
        </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/DataTables.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/Content/ResponsiveDatatables.css" media="all" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/DataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/ResponiveDataTables.js" type="text/javascript"></script>
 

    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            "columnDefs": [
                { "orderable": false, "targets": 16 },
                { "orderable": false, "targets": 17 }
            ]
        });

        $(function () {
            var isMouseDown = false,
              isSelected;
            $("#homeTable tr")
              .mousedown(function () {
                  isMouseDown = true;
                  $(this).toggleClass("selected");
                  isSelected = $(this).hasClass("selected");
                  return false; // prevent text selection
              })
              .mouseover(function () {
                  if (isMouseDown) {
                      $(this).toggleClass("selected", isSelected);
                  }
              })
              .bind("selectstart", function () {
                  return false;
              })

            $(document)
              .mouseup(function () {
                  isMouseDown = false;
              });
        });

        $(document).on("click", ".removeRow", function () {
            var table = $('#homeTable').DataTable();
            var row;
            console.log($(this).closest('table'));
            if ($(this).closest('table').hasClass("collapsed") && ($(".dtr-data").length > 0)) {
                var child = $(this).parents("tr.child");
                row = $(child).siblings(".parent");
            } else {
                row = $(this).parents('tr');
            }

            table.row(row).remove().draw();

        });

        $(document).ready(function () {
            var table = $('#homeTable').DataTable({
                scrollY: "500px",
                //scrollX: true,
                responsive: true,
                scrollCollapse: true,
                paging: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]


            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });
            $('#cutSelectedButton').click(function () {
                table.rows('.selected').remove().draw();
            });
            $('#cropSelectedButton').click(function () {
                table.$('tr').toggleClass('selected');
                table.rows('.selected').remove().draw();
            });

            $('#refresh').click(function () {
                location.reload(true);
            });


        });

    </script>
    

}


