@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "PayPalSuccess";
}

<h2>PayPalSuccess</h2>

<div>
    <h4>ServiceRequest</h4>
    <hr />
    @{string mail = Model.Homeowner.ApplicationUser.Email; }
    @{string status = Model.PayPalListenerModel._PayPalCheckoutInfo.payment_status;  }
    @{string payID = Model.PayPalListenerModel._PayPalCheckoutInfo.txn_id; }
    <div id="divProcessing">
        <p>Processing, please wait . . . <img src="../../Content/ajax-loader.gif"></p>
    </div>
    <div id="pending">
        <strong>We are still processing your payment.  You will receive a confirmation email at @mail once payment processing is complete. </strong>
    </div>
    <div id="details">
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.PayPalListenerModel.ID)
        @Html.HiddenFor(model => model.PayPalListenerModel._PayPalCheckoutInfo.payment_status)

        <dt>
            @Html.DisplayNameFor(model => model.Homeowner.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homeowner.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPalListenerModel._PayPalCheckoutInfo.payment_status)
        </dt>

        <dd>
            <input id="paystatus" value="@status"  style="border:none" readonly>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayPalListenerModel._PayPalCheckoutInfo.txn_id)
        </dt>

        <dd>
            <input id="paystatus" value="@payID" style="border:none" readonly>
        </dd>


    </dl>
   </div>
</div
            @Html.DisplayFor(model => model.Homeowner.Username)
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="~/Scripts/PaypalSuccess.js" type="text/javascript"></script>



@*<script src="https://www.paypalobjects.com/js/external/dg.js"></script>*@

@*<script>

    $(document).ready(function () {
        var dgFlow;
        if (top.opener != null && (top.dgFlow != "undefined" || top.opener.top.dgFlow != "undefined")) {
            if (top.dgFlow != undefined) {
                dgFlow = top.dgFlow;
                
            }
            else {
                try{
                    dgFlow = top.opener.top.dgFlow;
                }
                catch(err){
                    dgFlow = undefined;
                }
            }
            //if (dgFlow !== window.self)
            //{
            //    alert("no");
            //}
            //else {
            //    alert('yes');
            //}
            //alert(top.opener.top.document);
            //alert(window.self.location);
            //alert(top.opener.top);
            //alert(dgFlow);
            //alert(top.opener.location);
            //var x = typeof top.opener;
            //alert(x);
            alert(top.opener.frames);
            if (dgFlow != undefined) {
                if (dgFlow.isOpen() == true) { 
                    dgFlow.closeFlow();
                }
            }
        }
        //alert(top.opener.frames);
        //alert(top);
        //alert(top.location);
        //alert(window.top.location);
        //alert(window.parent.location)
        //alert(top.opener.location);

        //if (top.opener) {
        //    top.opener.close();
        //    if (window != top) {
        //        top.location.replace(document.location);
        //    }
        //}
        //    if (window != top) {
        //    top.location.replace(document.location);
        //    }
        //top.location.replace(window.location);
            if (top != window) {
                top.location = window.location
            }
    })
</script>*@

@*<script>

    $(document).ready(function () {
        dgFlow = top.dgFlow || top.opener.top.dgFlow;
        dgFlow.closeFlow();
        top.close();
        window.location = "http://02774274.ngrok.io"
    })
</script>*@

@*<script>
    $(document).ready(function () {
        if (window.opener) { // check if opened in popup
            window.close();
        }
        if (window != top) {
            top.location.replace(document.location);
        }
    })
</script>*@


@*<script>
window.onload = function(){
	if(window.opener){
		window.close();
	}
	else{
		if(top.dg.isOpen() == true){
			top.dg.closeFlow();
			return true;
		}
	}
};
</script>*@


@*<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="~/Scripts/PaypalSuccess.js" type="text/javascript"></script>*@
}