@model Capstone4.Models.ReviewResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReviewResponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
