<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Welcome Homeowner!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="nav-main">
                <ul class="nav navbar-nav" id="linklist">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" id="selector" class="dropdown-toggle">My Tools</a>
                        <ul class="dropdown-menu" id="myDropdown">
                            <li>@Html.ActionLink("See Contractor List", "ReviewsIndex", "Contractors")</li>
                            <li>@Html.ActionLink("Create Service Request", "Create", "ServiceRequests")</li>
                            <li>@Html.ActionLink("Check Active Service Requests", "GetHomeownerActiveRequests", "Homeowners")</li>
                            <li>@Html.ActionLink("Check Completed Service Requests", "GetHomeownerCompletedRequests", "Homeowners")<li/>
                            <li>@Html.ActionLink("See My Reviews", "GetHomeownerReviews", "Homeowners")<li />
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        jQuery('ul.nav li.dropdown').hover(function () {
            jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        }, function () {
            jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        });
    </script>
    <script>
        if (!String.prototype.includes) {
            String.prototype.includes = function (search, start) {
                'use strict';
                if (typeof start !== 'number') {
                    start = 0;
                }

                if (start + search.length > this.length) {
                    return false;
                } else {
                    return this.indexOf(search, start) !== -1;
                }
            };
        }
        $('#myDropdown li').on('click', function(){
            var childNode = this.childNodes[0];
            var link = childNode.href;
            var x = $("#nav-main").hasClass('collapse');
            if (x == false) {
                $("#myDropdown").dropdown("toggle");
                $("#nav-main").collapse('hide');  
             }
             window.location = link;

        });
        $('#linklist').on('click', function (e) {
            var parent = ($(e.target.parentNode).attr('class'));

            if (parent == undefined) {
                parent = "placeholder"
            }

            var grandparent = ($(e.target.parentNode.parentNode).attr('class'));

            if (grandparent == undefined) {
                grandparent = "placeholder"
            }

            if ((parent != "dropdown") && (grandparent != "dropdown-menu") && (parent != "dropdown open")) {

                var x = $("#nav-main").hasClass('collapse');
                if (x == false) {
                    $("#nav-main").collapse('hide');
                }
            }

        });

    </script>
    <script>
        window.ontouchend = function (e) {
            if ($(".dropdown").hasClass('open')) {

                var parent = ($(e.target.parentNode).attr('class'));

                if (parent == undefined) {
                    parent = "placeholder"
                }

                var grandparent = ($(e.target.parentNode.parentNode).attr('class'));

                if (grandparent == undefined) {
                    grandparent = "placeholder"
                }

                if ((parent != "dropdown") && (grandparent != "dropdown-menu")) {
                    $("#myDropdown").dropdown("toggle");
                }

                if (parent == "dropdown open") {
                    $("#myDropdown").dropdown("toggle");
                }

            }
        }
    </script>
    <script>
        $('#loggedinlist').on('click', function (e) {
            var parent = ($(e.target.parentNode).attr('class'));

            if (parent == undefined) {
                parent = "placeholder"
            }
            var grandparent = ($(e.target.parentNode.parentNode).attr('class'));

            if (grandparent == undefined) {
                grandparent = "placeholder"
            }

            if ((parent != "dropdown") && (grandparent != "dropdown-menu") && (parent != "dropdown open")) {

                var x = $("#nav-main").hasClass('collapse');
                if (x == false) {
                    $("#nav-main").collapse('hide');
                }
            }

        });


    </script>
    <script>
        $('#loggedoutlist').on('click', function (e) {
            var parent = ($(e.target.parentNode).attr('class'));

            if (parent == undefined) {
                parent = "placeholder"
            }
            var grandparent = ($(e.target.parentNode.parentNode).attr('class'));

            if (grandparent == undefined) {
                grandparent = "placeholder"
            }

            if ((parent != "dropdown") && (grandparent != "dropdown-menu") && (parent != "dropdown open")) {

                var x = $("#nav-main").hasClass('collapse');
                if (x == false) {
                    $("#nav-main").collapse('hide');
                }
            }

        });


    </script>
    <script>
        $(document).ready(function () {
            window.addEventListener("pagehide", function(e) {

                var x = $("#nav-main").hasClass('collapse');
                if (x == false) {
                    var opened = $('#myDropdown').is(':visible');
                    if (opened == true) {
                        $("#myDropdown").dropdown("toggle");
                    }
                    $("#nav-main").collapse('hide');
                }
                else {
                    var opened = $('#myDropdown').is(':visible');
                    if (opened == true) {
                        $("#myDropdown").dropdown("toggle");
                    }

                }

            })

        })
    </script>
</body>
</html>

