@model Capstone4.Models.Contractor

@{
    ViewBag.Title = "SeeReviews";
}

<h2>SeeReviews</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ID)


        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Rating
        </dt>
        <dd>
            @{ 

                if (Model.ContractorReviews.Count > 0)
                {
                    double? score;
                    List<double?> ratings;
                    ratings = (from x in Model.ContractorReviews
                               where x.ContractorID == Model.ID
                               select x.Rating).ToList();
                    score = ratings.Average();
                    @score;

                }
                else
                {
                    string score = "Not Rated";
                    @score
                }
            }

            
        </dd>

        <dt>
            Total Ratings
        </dt>

        <dd>
            @Model.ContractorReviews.Count
        </dd>


        @foreach (var item in Model.ContractorReviews)
        {
            <dt>
                Review
            </dt>

            <dd>
                @item.Review
            </dd>
            <dt>
                Rating
            </dt>

            <dd>
                @item.Rating
            </dd>
            <dt>
                Review Date
            </dt>

            <dd>
                @item.ReviewDate
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
